.test-container {
  width: 500px;
  height: 500px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;

  .wrapper {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    text-align: center;

    .content {
      line-height: 200px;
    }
  }
}
